*.o
server
client
build/
.env
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
cexa

# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile

# Logs
*.log

# Environment
*.env

.DS_STORE
.cache
